<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>DC-S SportKg</title>
</head>

<body>
    <div class="container-fluid" id="programme">
        <h2>Programme : {{ name }}</h2>
        <div>
            <span class="badge badge-success">{{ start }}</span>
            <span class="badge badge-warning">{{ end }}</span>
            <span class="badge primary">Il reste {{ stayDay }} Jours</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" v-bind:style="'width: ' + (valActuel / maxVal) *100 + '%;'" v-bind:aria-valuenow="valActuel" aria-valuemin="0" v-bind:aria-valuemax="maxVal"></div>
            {{ valActuel }} / {{ maxVal }} </div>
    </div>
    <div class="container-fluid" id="jours">
        <div class="form-group">
            <label for="add-day">Jours</label>
            <input class="form-control" v-model="formDay" id="add-day" type="date" />
            <button type="button" class="btn btn-success" v-on:click="addDay">Ajouter</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Jour</th>
                    <th scope="col">Valeur</th>
                    <th scope="col">Ajout</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="jour in jours">
                    <th>{{ jour.day }}</th>
                    <td>{{ jour.value }} / {{ valuePerDay }}</td>
                    <td><input type="number" v-model="valueToAdd"><button type="button" class="btn btn-success" v-on:click="addValue(jour)">Ajouter</button></td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        var jours = JSON.parse(localStorage.getItem('jours'));
        jours = jours ? jours : [];

        var startD = new Date('2019-09-16');
        var startDate = startD.getDate() + '/' + (startD.getMonth() + 1) + '/' + startD.getFullYear();
        var endD = new Date('2019-12-01');
        var endDate = endD.getDate() + '/' + (endD.getMonth() + 1) + '/' + endD.getFullYear();
        var valActuel = 0;
        var totalDay = Math.round((endD - startD) / (1000 * 3600 * 24));
        var maxVal = 1250 * Math.round(((endD) - ((startD))) / (1000 * 3600 * 24));

        jours.forEach((jour) => {
            valActuel += parseInt(jour.value);
        });

        var programme = new Vue({
            el: '#programme',
            data: {
                name: '15Kg',
                start: startDate,
                end: endDate,
                stayDay: Math.round(((endD) - ((Date.now()))) / (1000 * 3600 * 24)),
                maxVal: maxVal,
                valActuel: valActuel
            }
        });

        var joursVue = new Vue({
            el: '#jours',
            data: {
                formDay: null,
                valuePerDay: Math.round(maxVal / totalDay),
                valueToAdd: 0,
                jours: jours
            },
            methods: {
                addDay: function() {
                    this.jours.push({
                        day: this.formDay,
                        value: 0
                    });
                    localStorage.setItem('jours', JSON.stringify(this.jours));
                },
                addValue: function(jour) {
                    var i = this.jours.indexOf(jour);
                    this.jours[i].value += parseInt(this.valueToAdd);
                    localStorage.setItem('jours', JSON.stringify(this.jours));
                }
            }
        })
    </script>

</body>

</html>